# Python
__pycache__/
*.pyc

# Custom ignore folder
ignore/

# Frontend
frontend-new/node_modules/

# Models
mlops-llm4ts/model-service/inference-service/models/

# MLOps Service
MLOps-automation-service/ignore/
